<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 

	<title>
		VideoGoogle
	</title>
</head>
<body>
	<h1>
		Welcome To Video Google
	</h1>
	<h3>
		Please choose your query frame
	</h3>

	{% for i in framesList: %}
	<div style="float: left; margin-right: 60px; margin-bottom: 20px;">
		<img src="{{ i }}">
		<br/>
		<button style="margin-left: 120px" onclick="sendToServer('{{ i }}')">Select</button>
	</div>
	{% endfor %}
</body>
<script type="text/javascript">
	function sendToServer(selected_frame){
		$.post("/receiveFrame", JSON.stringify(selected_frame), function(){});
		setTimeout(selectRegion, 1000);
	}
	function selectRegion(){
		window.location.replace("/selectRegion");
	}
</script>
</html